# Task runner
invoke==1.6.0

# Linting/formating
pylint==2.12.2
black==22.1.0
licenseheaders==0.8.8

# Testing
pytest==6.2.5
pytest-timeout==2.1.0
pytest-cov==3.0.0
responses==0.18.0

# publishing
wheel>=0.34.2
twine>=3.6.0
setuptools_scm==6.4.2
